form(action="/" method="post")

    label(for="mode") Set animation mode: 
    select(id="mode" name="mode")
      option(value="a") Solid Colour
      option(value="b") Breathing
      option(value="f") Fade
      option(value="g") Gradient
      option(value="v") Audio Visualizer
      option(value="p") Ping Pong

    br

    label(for="palette") Set color palette for animated modes:
    select(id="palette" name="palette")
      option(value="r") Rainbow
      option(value="w") Warm
      option(value="c") Cold

    br

    label(for="brightness") Set Brightness: 
    input(id="brightness", name="brightness", type="range", value=brightness, min="0", max="180")

    br

    label(for="delay") Set Step-Delay: 
    input(id="delay", name="delay", type="range", value=delay, min="1", max="100")
    p 
      span(class="hint") Lower number means faster animation

    br

    input(type="submit" value="OK")

script.
  var set_mode = "!{mode}"
  var set_palette = "!{palette}"
script(src="/public/controlPanel.js")